.grid {
	display: grid;
}
.redBorder {
	border: 1px solid red;
}
.blackBorder {
	border: 1px solid black;
}
.flex {
	display: flex;
	flex-direction: row;
}
.navbar {
	width: 70%;
	margin: auto;
	align-items: center;
	justify-content: space-between;
}
.rightHead {
	width: 37%;
	justify-content: space-between;
	/* gap: 10px; */
}
.exploreButton {
	background-color: #01b7c4;
	color: white;
	padding: 12px 22px;
	border: transparent;
}
.leftBox {
	width: 40%;
	margin-left: 10%;
	margin-top: 10%;
}
.rightBox {
	width: 50%;
}
.bigBox {
	width: 100%;
}
.imageBox {
	background-color: #fe7701;
	width: 60%;
	margin-left: 3%;
	height: 500px;
	margin-top: 40%;
	border-radius: 20px;
}
.box {
	width: 40%;
	padding-left: 2%;
	border-radius: 20px;
}
.box2 {
	border-radius: 20px;
	padding-left: 2%;
	width: 40%;
	margin-left: 50%;
	margin-top: -15%;
}
.left2 {
	border-radius: 20px;
	gap: 100px;
	display: flex;
	padding-left: 10%;
}
.left2 > .leftBoxes {
	width: 40%;
}
.leftBoxes {
	margin-top: 7%;
}
.box3 {
	width: 40%;
	padding-left: 2%;
	margin-top: -5%;
	border-radius: 20px;
}
.box,
.box2,
.box3 {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.box2,
.box3 {
	text-align: center;
}
.rightBoxes {
	margin-top: 10%;
	margin-left: 2%;
	line-height: 1.3;
}
* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
